<!DOCTYPE html>

{% extends "my_app/base.html" %}
{% load static %}

{% block body_block %}

<h3>{{ text_1 }}</h3>
<br>
<img src="{% static "my_app/images/boss_lady.jpg" %}" alt="boss_lady">
<br>
<h1>{{ text_2 }}</h1>
<table border="1">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Instrument</th>
  </tr>

  <!-- we can use if-else or loop in html by using this syntax in django -->
  {% for row in musician %}

  <tr>
    <!-- we can use variable in html by using this syntax in django -->
    <td> {{ row.first_name }} </td>
    <td> {{ row.last_name }} </td>
    <td> {{ row.instrument }} </td>
  </tr>

  {% endfor %}

</table>

{% endblock %}
