{% extends 'my_app/base.html' %}
{% load static %}
{% block body_block %}
  <h3>Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }}</h3>
  <h3>Instrument: {{ artist_info.instrument }}</h3>
  <h3>Artist Rating: {{ artist_rating.num_stars__avg }} </h3>
  <div class="text-center">
    <a href="{% url 'my_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-success btn-sm">Edit</a>
  </div>
  <br>
  <h3>List of Album</h3>
  <table class="table table-bordered">
    <tr>
      <th>Album Name</th>
      <th>Release Date</th>
      <th>Rating</th>
    </tr>
    {% for album in album_list %}
      <tr>
        <td><a href="{% url 'my_app:edit_album' album_id=album.id %}">{{ album.name }}</a></td>
        <td>{{ album.release_date|date:"M d, Y" }}</td>
        <td>{{ album.num_stars }}</td>
      </tr>
    {% endfor %}
  </table>

  <br>

  <div class="text-center">
    <a href="{% url 'my_app:delete_artist' artist_id=artist_info.id %}" onclick="return confirm('Delete Musician?')" class="btn btn-danger btn-sm">Delete</a>
  </div>
{% endblock %}
