img {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h3, form{
  text-align: center;
}

a{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table,tr,td,th{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

 .custom-radio-list, .errorlist li{
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

.errorlist li {
  color: red;
}
